*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/AndroidProjectSystem.xml
/app/release/app-release.aab
/.idea/deploymentTargetSelector.xml
/.idea/caches/deviceStreaming.xml
/.idea/runConfigurations.xml
